PORT=3000
GEMINI_API_KEY=AIzaSyDifv3KqVpo4oOczOTmFa4_Kyp-dpaUjRs
GEMINI_MODEL=gemini-1.5-flash
GCP_PROJECT_ID=simulasi-tka-488513
GOOGLE_APPLICATION_CREDENTIALS=./firestore-sa.json
JWT_SECRET=ISI_DENGAN_RANDOM_STRING_MIN_32_KARAKTER
AUTH_TOKEN_TTL=14d
ADMIN_PASSWORD=VINOGANTENG
